<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 自动扫描(自动注入) -->
    <context:component-scan base-package="org.joker.shirodemo.*.controller"/>
    <!-- 日期转换 -->

    <mvc:annotation-driven conversion-service="dateCovert" />

    <!--
    通过mvc:resources设置静态资源，这样servlet就会处理这些静态资源，而不通过控制器
    设置不过滤内容，比如:css,js,img 等资源文件
    location指的是本地的真是路径，mapping指的是映射到的虚拟路径。
    -->
    <mvc:annotation-driven/>
    <mvc:resources mapping="/static/**" location="static/" />

    <bean id="dateCovert"
          class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="org.joker.shirodemo.common.utils.DateConverter"/>
            </set>
        </property>
    </bean>

    <!-- 文件上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10240000"/>
        <property name="maxUploadSizePerFile" value="102400000"/>
    </bean>
</beans>